/* Header */

.header {
  width: 100%;
  top: 0;
  left: 0;

  background-color: $primary-white-color;

  @media screen and (min-width: $tablet) {
    border-bottom: 1px solid #ececec;
  }
}

.header__part {
  justify-content: flex-start;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__mobile {
  width: 100%;
  justify-content: space-between;
}

.header__logo {
  color: #000000;
}

/* Header button */

.header__button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
    cursor: pointer;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

/* Header kontakt */

.header__kontakt {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    height: 38px;
    flex-direction: column;
    align-content: flex-start;
    align-content: space-between;
    width: 100%;
    margin-left: 84px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 305px;
  }
}

.header__link {
  @include linkstyle();
  font-size: 12px;
  line-height: 1.17;
  color: $primary-text-color;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover .header__icon,
  &:focus .header__icon {
    fill: $accent-color;
    cursor: pointer;
  }
}

/* Header icons */
.header__icon {
  fill: currentColor;
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
