/*Modal window*/
.backdrop {
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 581px;
  min-width: 528px;
  border-radius: 4px;

  background-color: $primary-white-color;

  animation: animate75 3000ms;
}

@keyframes animate75 {
  50% {
    transform: scale(0.75);
  }

  0% {
    transform: scale(1);
  }
}

.modal-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
    cursor: pointer;
  }
}

/*Modal forms*/
.modal-forms {
  position: relative;
  top: 40px;
  left: 0;
  padding: 0 40px 50px;
}

.modal-title {
  font-weight: $font-bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: $title-text-color;
  margin-bottom: 12px;
}

.modal-forms .form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-forms .modal-input:focus,
.modal-forms .modal-input:hover,
.form-field .comment:focus,
.form-field .comment:hover {
  border: 1px solid $accent-color;
  cursor: pointer;
}

.input-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.input-hover:focus .input-icon,
.input-hover:hover .input-icon {
  fill: $accent-color;
  cursor: pointer;
}

.input-hover:focus-within .modal-input,
.form-field:focus-within .comment {
  border-color: $accent-color;
}

.input-hover:focus-within .input-icon {
  fill: $accent-color;
}

.form-field .comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: $border-radius;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-policy {
  position: relative;
  overflow: hidden;
  width: 425px;
  height: 24px;
  margin: 0 auto 30px;
  text-align: center;
}

.policy-icons {
  position: absolute;
  left: 0;
  top: 5px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  border-radius: 3px;
  background-repeat: no-repeat;
}

.form-policy input:checked + .policy-icons {
  background-color: $accent-color;
  border: 2px solid $accent-color;
  background-image: url(..//images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form-policy .link {
  color: $accent-color;
}

.modal-button {
  position: absolute;
  bottom: 0;
  right: 164px;
  width: 200px;
  height: 50px;
  padding: 10px 55px 10px 56px;
}
